{% extends "basic.html" %}
{% block content %}


<div class="container">

    <div class="jumbotron">


        <div class="container">
          <div class="row">
            <div class="col">
              Hi my name is Christian. A Seattle native who enjoys skiing, traveling, and wrenching on vehicles.
            </div>
            <div class="col">
              <img class="card-img-top" src="{{url_for('static', filename='portrait.jpg')}}" >
            </div>
        </div>



    </div>
</div>

<div class="container">
    <img class="card-img-top" src="{{url_for('static', filename='forest_bike.jpg')}}" >
</div>





{% endblock %}