{% extends "basic.html" %}
{% block content %}
<div class="container-fluid">
    <!--<img src="https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-0.3.5&s=a1da41b127d00e17542f192fac92975d&auto=format&fit=crop&w=1050&q=80" class="img-fluid" alt="Responsive image">-->
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my personal home on the web!</h1>
      <p class="lead">This website showcases some of my favorite projects I've been involved in.</p>
    </div>
</div>
{% endblock %}