{% extends "basic.html" %}
{% block content %}
<div class="container">
    <h1></h1>
    <!--<img src="https://images.unsplash.com/photo-1485083269755-a7b559a4fe5e?ixlib=rb-0.3.5&s=a1da41b127d00e17542f192fac92975d&auto=format&fit=crop&w=1050&q=80" class="img-fluid" alt="Responsive image">-->
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{url_for('static', filename='full_tractor.jpg')}}" >
              <div class="card-body">
                <h5 class="card-title">Autonomous Tractor Trailer Coupling System</h5>
                <p class="card-text">Autonomous system capable of coupling semi-truck tractor and trailer.</p>
                <a href="{{url_for('senior')}}" class="btn btn-primary">Learn more</a>
              </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1514047698107-837997093f54?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27b57d0e9cb05ed5ba4d823295407d7e&auto=format&fit=crop&w=1190&q=80" >
              <div class="card-body">
                <h5 class="card-title">Endurance Car Racing</h5>
                <p class="card-text">Built endurance racecar and led team to compete in Lucky Dog and Lemons racing series.</p>
                <a href="{{url_for('race')}}" class="btn btn-primary">Learn more</a>
              </div>
            </div>
        </div>
        <!--<div class="col-sm">-->
          <!--One of three columns-->
        <!--</div>-->
      </div>
    </div>
</div>
{% endblock %}