{% extends "basic.html" %}
{% block content %}
<div class="container">
<br>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="jumbotron">
              <h1 class="display-4">Seattle University</h1>
              <h1 class="display-5">Senior Design Project</h1>
              <p class="lead">Autonomous Tractor Trailer Coupling System</p>
              <hr class="my-4">
                My colleagues and I designed and prototyped a system that utilized a stereo vision camera in conjunction
                with LIDAR to determine the location of a trailer and automatically couple a tractor to it.
                <br>
                <br>
                <a class="btn btn-primary btn-lg" href="{{ url_for('final_report') }}" role="button">Full Report</a>
            </div>

        </div>
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B2Sz5zi_gfvJcFFtbEh0VWxLTjA/preview" allowfullscreen></iframe>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B2Sz5zi_gfvJZlVoSkw3dXJnWTQ/preview" allowfullscreen></iframe>
            </div>
        </div>

      </div>
    </div>



</div>
{% endblock %}